<!--Dashboard Page-->
{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock%}

{% load crispy_forms_tags %}
{% load humanize %}
{% block heading %}
Dashboard
{% endblock %}

{% block content %}
{% with user=request.user %}

<!-- Content -->
<div class="container-fluid main-container">
    <div class="row d-flex">
        <div class="col">
            <div class="dashboard-container d-flex flex-row">
                <h2>Account Balance: {{ user.total_points }} points</h3>
            </div>
            {% if user.is_tutor %}
                <div class="dashboard-container">
                    <div class="list-container">
                        <h2>Tutor Requests</h2>
                        {% if requests_received %}
                        {% for tutor_request in requests_received|slice:":3" %}
                            {% with tutee=tutor_request.tutee %}
                            <div class="received-request-container d-flex" id="request-{{tutor_request.id}}" 
                            data-requestid="{{tutor_request.id}}" data-tuteeid="{{tutor_request.tutee.id}}">
                                <div class = "received-request-content d-flex">
                                    <div>
                                        <img src="{{tutee.profile_pic.url}}" class="profile-pic">
                                    </div>
                                    <div class="name-column d-flex">
                                        {{ tutee }} <br>
                                        <div class="classes-column">
                                            {{ tutor_request.class_name }} @ {{ tutor_request.location }} <br/>
                                        </div>
                                    </div>
                                    <div class="times-column d-flex">
                                        {{tutor_request.tutor_date}} @<br>{{tutor_request.tutor_start_time}} - {{tutor_request.tutor_end_time}}<br>
                                    </div>
                                    <div class = "respond-btns d-flex">
                                        {% if tutor_request.accepted %}
                                            <button type="submit" name="btn-accept-request" cless="btn-secondary"
                                                data-toggle="modal" data-target="#modal-complete-request">
                                                Complete 
                                            </button>
                                        {% else %}
                                            <button type="submit" name="accept-request" class="btn-secondary respond-button" 
                                                data-toggle= "modal" data-target="#modal-accept-request">
                                                Accept
                                            </button>
                                            <button type="submit" name="decline-request" class="btn-secondary respond-button" 
                                            data-toggle= "modal" data-target="#modal-decline-request">
                                                Decline
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class = "comment-container">
                                    {% if tutor_request.tutee_comment %}
                                        Comment: {{tutor_request.tutee_comment}} <br>
                                    {% else %}
                                        No comment <br>
                                    {% endif %}
                                </div>
                            </div>
                            {% endwith %}
                        {% endfor %}
                        {% else %}
                        <h3>No Pending Tutor Requests</h3>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col">
            <div class="dashboard-container">
                <div class="list-container">
                    <h2>Suggested Sessions</h2>
                        {% if tutors is not None%}
                        {% for tutor in tutors|slice:":3" %}
                            <div class="tutor-container d-flex" id="tutor-{{tutor.id}}" data-tutorid="{{tutor.id}}" >
                                <div>
                                    <img src="{{tutor.profile_pic.url}}" class="profile-pic">
                                </div>
                                <div class="tutor-name-column d-flex">
                                    {{tutor.first_name | title}} {{tutor.last_name| title}} <br/>
                                    <div class="tutor-classes-column">
                                        {{tutor.classes_taken}}  <br/>
                                    </div>
                                </div>
                                <div class="tutor-times-column d-flex">
                                    {% if tutor.times_available %}
                                        {{tutor.times_available}}  <br/>
                                    {% else %}
                                        Times Available:<br>TBD <br/>
                                    {% endif %}
                                </div>
                                <div class="request-btn-container d-flex">
                                    <button type ="submit" name="request-tutor" value="request" class="btn-secondary" 
                                    data-toggle= "modal" data-target="#tutor-request-modal">
                                            Request
                                    </button>
                                </div>
                                <div class="tutor-rating-column d-flex">
                                    {% if tutor.tutor_avg_rating %}
                                        {{tutor.tutor_avg_rating}} ★<br/>
                                    {% else %}
                                    Rating: N/A
                                    {% endif %}
                                    <div class="tutor-rate-column">
                                    {% if tutor.rate%}
                                        {{tutor.rate|intcomma}} pts/hr<br/>
                                    {% else %}
                                        Rate: TBD
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <h3>No Suggested Sessions</h3>
                        {% endif %}
                </div>
            </div>
            <div class="dashboard-container">
                <div class="list-container">
                    <h2>Sent Requests</h2>
                    {% if sent_requests %}
                    {% for sent_request in sent_requests|slice:":3" %}
                        {% with tutor=sent_request.tutor %}
                            <div class="sent-request-container d-flex" id="tutor-{{tutor.id}}" data-tutorid="{{tutor.id}}" >
                                <div class="sent-request-content d-flex">
                                    <div class = "tutor-profile-pic">
                                        <img src="{{sent_request.tutor.profile_pic.url}}" class="profile-pic">
                                    </div>
                                    <div class="name-column d-flex">
                                        {{ tutor }}
                                        <div class="classes-column d-flex">
                                            {{ sent_request.class_name }} @ {{ sent_request.location }}
                                        </div>
                                    </div>
                                    <div class="times-column d-flex">
                                        {{sent_request.tutor_date}} @<br>{{sent_request.tutor_start_time}} - {{sent_request.tutor_end_time}}
                                    </div>
                                    <div class="status">
                                        Status: 
                                        {% if sent_request.accepted %}
                                            <p class="status-confirmed">Accepted</p>
                                        {% elif sent_request.accepted is None %}
                                            <p class="status-pending">Awaiting Response</p>
                                        {% else %}
                                            <p class="status-declined">Declined</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="comment-container">
                                    {% if sent_request.tutee_comment %}
                                        Comment: {{sent_request.tutee_comment}}
                                    {% else %}
                                        No comment
                                    {% endif %}
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    {% else %}
                    <h3>No Sent Requests</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->

<!-- Tutor Request Modal -->
<div class="modal fade" id="tutor-request-modal">
    <div class="modal-dialog model-lg">
        <div class="modal-content">
           <div class="modal-flex-container">
               <div class="form-container">
                    <form method="POST" class="form-group" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type="hidden" name="requestedTutor" id="requestedTutor" value="">
                        <div class="form-row">
                            {{form_request_tutor.class_name | as_crispy_field}}
                        </div>
                        <div class="form-row">
                            {{form_request_tutor.tutor_date | as_crispy_field}}
                        </div>
                        <div class="form-row">
                            {{form_request_tutor.tutor_start_time | as_crispy_field}} 
                        </div>
                        <div class="form-row">
                            {{form_request_tutor.tutor_end_time | as_crispy_field}} 
                        </div>
                        <div class="form-row">
                            {{form_request_tutor.location | as_crispy_field}}
                        </div>
                        <div class="form-row">
                            {{form_request_tutor.tutee_comment | as_crispy_field}}
                        </div>
                        <button type="submit" name = "submit-tutor-request" class="btn-block btn-secondary btn-style">Send Request</button>
                    </form>
               </div>
           </div> 
        </div>
    </div>
</div>
<!-- Received Request Modal -->
<div class="modal" id="modal-accept-request">
    <div class="modal-dialog modal-lg">
        <div class="request-modal-content">
            <form method="POST">
                <p class="modal-request-status">Accept Tutor Request</p>
                <input type="hidden" name="request-id" id="requestIdAccept" value="">
                {% csrf_token %}
                {{form_request_response | crispy}}
                <button type ="submit" name="submit-accept-request" class="btn-secondary btn-block">
                    Accept Tutor Request
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modal-decline-request">
    <div class="modal-dialog modal-lg">
        <div class="request-modal-content">
            <form method="POST">
                <p class="modal-request-status">Decline Tutor Request</p>
                <input type="hidden" name="request-id" id="requestIdDecline" value="">
                {% csrf_token %}
                {{form_request_response | crispy}}
                <button type ="submit" name="submit-decline-request" class="btn-secondary btn-block">
                    Decline Tutor Request
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modal-complete-request">
    <div class="modal-dialog modal-lg">
        <div class="request-modal-content">
            <form method="POST">
                <p class="modal-request-status">Complete Tutor Request</p>
                <input type="hidden" name="request-id" id="requestIdCompleted" value="">
                {% csrf_token %}
                {{ form_rating | crispy }}
                <button type="submit" name="submit-complete-request" class="btn-secondary btn-block">
                    Complete Tutor Request
                </button>
            </form>
        </div>
    </div>
</div>
<script type = "text/javascript">
    const tutor = document.getElementById('requestedTutor')
    const acceptId = document.getElementById('requestIdAccept')
    const declineId = document.getElementById('requestIdDecline')
    const completeId = document.getElementById('requestIdCompleted')
   document.querySelector('body').addEventListener('click', event => {
        const receivedRequestContainer = event.target.closest('.received-request-container')
        if (!receivedRequestContainer) return
        const requestIdValue = receivedRequestContainer.dataset.requestid
        if (requestIdValue) {
            if (acceptId) {
                acceptId.value = requestIdValue
            } 
            if (declineId) {
                declineId.value = requestIdValue
            }
            if (completeId) {
                completeId.value = requestIdValue 
            }
        }
        if (!event.target.matches('.btn-secondary')) {
            location.href = `/users/${receivedRequestContainer.dataset.tuteeid}`
        }
    })

    document.querySelector('body').addEventListener('click', event => {
        const tutorContainer = event.target.closest('.tutor-container')
        if (!tutorContainer) return
        if (tutorContainer.dataset.tutorid) {
            tutor.value = tutorContainer.dataset.tutorid
        }
        if (!event.target.matches('.btn-secondary')) {
            location.href = `/users/${tutorContainer.dataset.tutorid}`
        }
    })

    document.querySelector('body').addEventListener('click', event => {
        const infoContainer = event.target.closest('.sent-request-container')
        if (!infoContainer) return
        location.href = `/users/${infoContainer.dataset.tutorid}`
    })
    
</script>


{% endwith %}
{% endblock %}