<!--Login Page-->
{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type = "text/css" href = "{% static 'css/login.css' %}"/>
{% endblock%}


{% block heading %}
Welcome to Tutor4Points!
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<form method="POST" class="form-group">
        {% csrf_token %}
        <div class="container">
                {{form |crispy}}
                <button type="submit" class="btn-block btn-success btn-style mt-4">Login</button>
                <p style = "text-align:center; margin: 15px;"> Don't have an account? Please <a href="/users/register" class="link-primary">Register</a> !</p>
        </div>
</form>

{% endblock %}