<!--Points Page-->
{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/points.css' %}" />
{% endblock%}

{% block heading %}
Points
<font color="red">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</font>
{% endblock %}

<!-- {% load crispy_forms_tags %} -->
{% block content %}
<div class="container-fluid main-container">
    <div class="row d-flex">
        <div class="point-col">
            <h2>Purchase Points</h2>
            <div class="container-fluid point-content">
                <p id="point-exchange-rate"; style="font-size: 30px;">Exchange Rate:&nbsp 1 Point = $0.01</p>
                <div class="purchase-amount">
                  <form action="/points/" method="POST">
                    {% csrf_token %}
                    {{ form_purchase }}
                    <input type="submit"name="purchase" value="Submit">
                  </form>


                </div>
            </div>
        </div>
        <div class="point-col">
            <h2>Account Balance</h2>
            <div class="container-fluid, point-content">
                <p class="total-points" id="total-points">
                    {{user.total_points}}<br>
                    points
                </p>
                <div class="purchase-amount">
                  <form action="/points/" method="POST">
                    {% csrf_token %}
                    {{ form_cash_out}}
                    <input type="submit"name="cash_out" value="Submit">
                  </form>
                </div>
            </div>
        </div>
        <div class="point-col">
            <h2>Pay Tutor</h2>
            <div class="container-fluid, point-content">
                <div class="purchase-amount">
                    <form method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <label>Select Tutor</label>
                        <div class="select-tutor">
                            <!-- Replace with form to pay tutor -->
                            {{form_transfer_points.tutors| as_crispy_field}}
                            <!-- end replacement -->
                        </div>

                          {{form_transfer_points.amount_to_transfer| as_crispy_field}}
                        <button type="submit" name="transfer" class="btn-block btn-success btn-style">Complete Payment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ user.total_points | json_script:"total-points-unformatted" }}
<script>
    document.getElementById('total-points').innerHTML = `${Intl.NumberFormat('en-US').format(document.getElementById('total-points-unformatted').textContent)}<br>points`;
</script>
{% endblock %}
