<!--Points Page-->
{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/points.css' %}" />
{% endblock%}

{% block heading %}
Points
<font color="red">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</font>
{% endblock %}

<!-- {% load crispy_forms_tags %} -->
{% block content %}
<div class="container-fluid main-container">
    <div class="alert alert-success hidden" id="success-box" role="alert">
        {{success_message}}
    </div>
    <div class="row d-flex">
        <div class="point-col">
            <h2>Purchase</h2>
            <div class="container-fluid point-content">
                <div class="purchase-amount">
                    <form action="/points/" method="POST">
                        {% csrf_token %}
                        {{ form_purchase | crispy}}
                        <button type="submit" name="purchase" class="btn-block btn-success">Purchase Points</button>
                        <p class="exchange-rate" id="point-exchange-rate">Purchase Exchange Rate: $1.00 = 100 Points</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="point-col">
            <h2>Account Balance</h2>
            <div class="container-fluid, point-content">
                <p class="total-points" id="total-points">
                    {{user.total_points}}<br>
                    points
                </p>
                <div class="purchase-amount">
                    <form action="/points/" method="POST">
                        {% csrf_token %}
                        {{ form_cash_out | crispy}}
                        <button type="submit" name="cash_out" class="btn-block btn-success">Cash Out</button>
                        <p class="exchange-rate" id="point-exchange-rate">Cash Out Exchange Rate: 100 Points = $0.90</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="point-col">
            <h2>Pay Tutor</h2>
            <div class="container-fluid, point-content">
                <div class="purchase-amount">
                    <form method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="select-tutor">
                            {{form_transfer_points| crispy}}
                        </div>
                        <button type="submit" name="transfer" class="btn-block btn-success">Complete Payment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ user.total_points | json_script:"total-points-unformatted" }}
{{ success_message | json_script:"success-message" }}
<script>
    document.getElementById('total-points').innerHTML = `${Intl.NumberFormat('en-US').format(JSON.parse(document.getElementById('total-points-unformatted').textContent))}<br>points`;

    const successMessage = JSON.parse(document.getElementById('success-message').textContent)
    if (successMessage !== "") {
        document.getElementById('success-box').classList.toggle('hidden')
    }
</script>
{% endblock %}