<!--Register Page-->
{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock%}

{% block heading %}
Register
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<form method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  <div class="container">
    <div class="d-inline-flex">
      <div class="col-md-8 d-flex imgUpload" id="imgUpload">
        {{form.profile_pic | as_crispy_field}}
      </div>
      <div class="col-md-4 d-flex profileImgPreview hide" id="profileImgPreview">
        <img id="profileImg" class="hide profileImg" src="" alt="Your Profile Image" />
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-6">
        {{form.first_name | as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.last_name | as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.email | as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.school | as_crispy_field}}
      </div>
      <div class="col-4">
        {{form.username | as_crispy_field}}
      </div>
      <div class="col-4">
        {{form.password1| as_crispy_field}}
      </div>
      <div class="col-4">
        {{form.password2 | as_crispy_field}}
      </div>
    </div>

    {{form.is_tutor | as_crispy_field}}

    <div class="form-row" id="tutor-form">
      <div class="col-6">
        {{form.classes_taken | as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.times_available | as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.time_zone | as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.rate | as_crispy_field}}
      </div>
    </div>

    <button type="submit" class="btn-block btn-success">Next</button>
    <p style="text-align:center; margin: 15px;"> Already have an account? Please <a href="/login/" class="link-primary">Login</a> !</p>
  </div>

  <script>
    const tutorChk = document.getElementById("id_is_tutor")
    document.getElementById("tutor-form").querySelectorAll('.col-6').forEach(row => row.classList.add(!tutorChk.checked && 'd-none'))

    tutorChk.addEventListener('change', function () {
      document.getElementById("tutor-form").querySelectorAll('.col-6').forEach(row => row.classList.toggle('d-none'))
    })

    document.getElementById('id_profile_pic').onchange = function (event) {
      const [file] = this.files
      if (file) {
        document.getElementById('profileImg').src = URL.createObjectURL(file)
        document.getElementById('profileImg').classList.remove('hide')
        document.getElementById('profileImgPreview').classList.remove('hide')

        this.parentNode.querySelector('.custom-file-label').textContent = file.name
      }
    }
  </script>
  {% endblock %}