{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/requests.css' %}" />
{% endblock%}

{% load crispy_forms_tags %}

{% block heading %}
Requests
{% endblock %}

{% block content %}

<div class="show-accepted">
    <form method="post" id="show-accepted-inbox-form">
        {% csrf_token %}
        <div class="form-check">
            <label class="form-check-label label-text-style">
                <input class="form-check-input" type="checkbox" value="" id="show-accepted-inbox"
                    name="show-accepted-inbox" onChange="handleCheckShowAcceptedInbox()" {{inbox_accept_filter}}>
                <span class="checkmark"></span>
                Show Accepted Incoming Requests
            </label>
            <input class="form-check-input" type="hidden" value="" id="show-accepted-sent-hidden" name="">
        </div>
    </form>
</div>
<div class="scroll-box">
    <h2>Inbox</h2>
    {% if requests_received %}
    <div class="requests-items container-fluid">
        {% for request in requests_received %}

        <div class="request-container d-flex" id="request-{{request.id}}" data-requestid="{{request.id}}"
            data-givenTo="{{request.tutee.id}}">
            <div class="profile-container">
                <img src="{{request.tutee.profile_pic.url}}" class="profile-pic">
            </div>
            <div class="request-content">
                <div class="container-fluid row">

                    <div class="name">
                        {{request.tutee.first_name | title}} {{request.tutee.last_name | title}} <br />
                        <div class="sent-date">
                            {{request.date_sent_request}}
                        </div>
                    </div>

                    <div class="tutor-class">
                        {{request.class_name}}
                    </div>

                    <div class="times">
                        {{request.location}}, <br>
                        {{request.tutor_date}},<br>{{request.tutor_start_time}} - {{request.tutor_end_time}}
                    </div>

                </div>
                <div class="container-fluid row comment">
                    Comments: {{request.tutee_comment}}
                </div>
            </div>

            <div class="respond-container">
                {% if request.accepted %}
                <div class="request-status d-flex">
                    <p class="status-confirmed"> Request Accepted</p>
                    <button type="submit" name="btn-submit-rating" class="btn-secondary respond-button"
                        data-toggle="modal" data-target="#modal-complete-request">Complete</button>
                </div>
                {% else %}
                <div class="status-text d-flex">
                    <p>Awaiting Response</p>
                </div>
                <div class="respond-buttons d-flex">
                    <button type="submit" name="btn-accept-request" class="btn-accept respond-button"
                        data-toggle="modal" data-target="#modal-accept-request">Accept</button>
                    <button type="submit" name="btn-reject-request" class="btn-decline respond-button"
                        data-toggle="modal" data-target="#modal-decline-request">Decline</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h3>Inbox Empty</h3>
    {% endif %}
</div>

<div class="modal" id="modal-accept-request">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST">
                <p class="modal-request-status">Accept Tutor Request</p>
                <input type="hidden" name="request-id" id="requestIdAccept" value="">
                {% csrf_token %}
                {{form_request_response | crispy}}
                <button type="submit" name="submit-accept-request" class="btn-secondary btn-block">Accept Tutor
                    Request</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="modal-decline-request">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST">
                <p class="modal-request-status">Decline Tutor Request</p>
                <input type="hidden" name="request-id" id="requestIdDecline" value="">
                {% csrf_token %}
                {{form_request_response | crispy}}
                <button type="submit" name="submit-decline-request" class="btn-secondary btn-block">Decline Tutor
                    Request</button>
            </form>
        </div>
    </div>
</div>

<!--Complete Request Modal-->
<div class="modal" id="modal-complete-request">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST">
                <p class="modal-request-status">Complete Tutor Request</p>
                <input type="hidden" name="request-tutor" id="requestGivenTo" value="">
                <input type="hidden" name="request-id" id="completedRequestId" value="">
                {% csrf_token %}
                {{ form_rating | crispy }}
                <button type="submit" name="submit-rating" class="btn-secondary btn-block">
                    Complete Tutor Request
                </button>
            </form>
        </div>
    </div>
</div>

<div class="show-accepted">
    <form method="post" id="show-accepted-sent-form">
        {% csrf_token %}
        <div class="form-check">
            <label class="form-check-label label-text-style">
                <input class="form-check-input" type="checkbox" value="" id="show-accepted-sent"
                    name="show-accepted-sent" onChange="handleCheckShowAcceptedSent()" {{sent_accept_filter}}>
                <span class="checkmark"></span>
                Show Accepted Sent Requests
            </label>
            <input class="form-check-input" type="hidden" value="" id="show-accepted-inbox-hidden" name="">
        </div>
    </form>
</div>

<div class="scroll-box">
    <h2>Sent</h2>
    {% if requests_sent %}
    <div class="requests-items container-fluid">
        {% for request in requests_sent %}
        <div class="request-container d-flex" id="request-{{request.id}}" data-requestid="{{request.id}}"
            data-tuteeid="{{request.tutee.id}}" data-givento="{{request.tutor.id}}">
            <div class="profile-container">
                <img src="{{request.tutor.profile_pic.url}}" class="profile-pic">
            </div>
            <div class="request-content">
                <div class="container-fluid row">

                    <div class="name">
                        {{request.tutor.first_name | title}} {{request.tutor.last_name | title}} <br />
                        <div class="sent-date">
                            {{request.date_sent_request}}
                        </div>
                    </div>


                    <div class="tutor-class">
                        {{request.class_name}}
                    </div>

                    <div class="times">
                        {{request.location}}, <br>
                        {{request.tutor_date}},<br>{{request.tutor_start_time}} - {{request.tutor_end_time}}
                    </div>

                </div>
                <div class="container-fluid row comment">
                    Comments: {{request.tutor_comment}}
                </div>
            </div>
            <div class="request-status d-flex">
                {% if request.accepted %}
                <div class="request-status d-flex">
                    <p class="status-confirmed"> Request Accepted</p>
                    <button type="submit" name="btn-submit-rating" class="btn-secondary" data-toggle="modal"
                        data-target="#modal-complete-request">Complete</button>
                </div>
                {% elif request.accepted is None %}
                <p class="status-pending">Awaiting Response</p>
                {% else %}
                <p class="status-declined">Request Declined</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h3>No Requests Sent</h3>
    {% endif %}
</div>

<script type="text/javascript">
    const acceptId = document.getElementById('requestIdAccept')
    const declineId = document.getElementById('requestIdDecline')
    const requestGivenTo = document.getElementById('requestGivenTo')
    const completedRequestId = document.getElementById('completedRequestId')
    document.querySelector('body').addEventListener('click', event => {
        const requestContainer = event.target.closest('.request-container')
        if (!requestContainer) return
        const requestIdVal = requestContainer.dataset.requestid
        acceptId.value = requestIdVal
        declineId.value = requestIdVal
        completedRequestId.value = requestIdVal

        const givenTo = requestContainer.dataset.givento
        requestGivenTo.value = givenTo

        // save requesdtIdVal from request in local storage (in case page reloads because of error)
        localStorage.setItem('requestedIdVal', JSON.stringify(requestIdVal))

        // save givenTo from request in local storage (in case page reloads because of error)
        localStorage.setItem('givenTo', JSON.stringify(givenTo))

        if (!event.target.matches('.btn-secondary') && !event.target.matches('.respond-button')) {
            location.href = `/users/${requestGivenTo.value}`
        }
    })

    $(document).ready(function () {
        // retrieve requestIdVal from local storage and populate hidden input in modal with id
        const requestIdVal = JSON.parse(localStorage.getItem('requestedIdVal'))
        acceptId.value = requestIdVal
        declineId.value = requestIdVal
        completedRequestId.value = requestIdVal

        // retrieve givenTo from local storage and populate hidden input in modal with id
        const givenTo = JSON.parse(localStorage.getItem('givenTo'))
        requestGivenTo.value = givenTo
    })

    function handleCheckShowAcceptedInbox(event) {
        // populate hidden input for show accepted sent (to keep checked if already checked)
        document.querySelector("#show-accepted-sent-hidden").name = $("#show-accepted-sent").prop('checked') ? "show-accepted-sent" : ""

        // submit filter form
        document.querySelector("#show-accepted-inbox-form").submit()
    }

    function handleCheckShowAcceptedSent(event) {
        // populate hidden input for show accepted inbox (to keep checked if already checked)
        document.querySelector("#show-accepted-inbox-hidden").name = $("#show-accepted-inbox").prop('checked') ? "show-accepted-inbox" : ""

        // submit filter form
        document.querySelector("#show-accepted-sent-form").submit()
    }


</script>

{% if form_rating.errors %}
<script>
    $(document).ready(function () {
        $("#modal-complete-request").modal('show')
    })
</script>
{% endif %}

{% endblock %}