{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutors.css' %}" />
{% endblock%}

{% load crispy_forms_tags %}

{% block heading %}
Tutors
{% endblock %}

{% block content %}

<!-- <div>
    <button type ="submit" name="filter" value="filter" class="filter-button" >Filter</button>
</div> -->

{% for tutor in tutors %}
<div class="info-container d-flex" id="tutor-{{tutor.id}}" data-tutorid="{{tutor.id}}">


    <div>
        <img src="{{tutor.profile_pic.url}}" class="profile-pic">
    </div>

    {% for tutor in tutors %}
    <div class="tutor-info-container d-flex" id="tutor-{{tutor.id}}" data-tutorid="{{tutor.id}}">
        <div>
            <img src="{{tutor.profile_pic.url}}" class="profile-pic">

    <div class="times">
        {% if tutor.times_available %}
        {{tutor.times_available}} <br />
        {% else %}
        TBD <br />
        {% endif %}
    </div>


    <div>
        <button type="submit" name="request" value="request" class="request-button" data-toggle="modal"
            data-target="#tutor-request-modal">Request</button>
    </div>



    <div class="tutor-rating">
        {{tutor.tutor_avg_rating}} ★<br />

    </div>
    {% endfor %}

    <!-- request module -->
    <div class="modal fade" id="tutor-request-modal">
        <div class="modal-dialog model-lg">
            <div class="modal-content">
                <div class="modal-flex-container">
                    <div class="form-container">
                        <h2>Request</h2>
                        <form action="" method="POST" class="form-group" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <input type="hidden" name="requestedTutor" id="requestedTutor" value="">

                            <div class="form-row">
                                {{form.class_name | as_crispy_field}}
                            </div>
                            <div class="form-row">
                                {{form.tutor_date | as_crispy_field}}
                            </div>
                            <div class="form-row">
                                {{form.tutor_start_time | as_crispy_field}}
                            </div>
                            <div class="form-row">
                                {{form.tutor_end_time | as_crispy_field}}
                            </div>
                            <div class="form-row">
                                {{form.location | as_crispy_field}}
                            </div>
                            <div class="form-row">
                                {{form.tutee_comment | as_crispy_field}}
                            </div>

                            <button type="submit" class="btn-block btn-secondary btn-style">Send Request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    const tutor = document.getElementById('requestedTutor')
    document.querySelector('body').addEventListener('click', event => {
        const infoContainer = event.target.closest('.info-container')
        if (!infoContainer) return
        const tutorId = infoContainer.dataset.tutorid
        tutor.value = tutorId
        if (!event.target.matches('.request-button')) {
            location.href = `/users/${infoContainer.dataset.tutorid}`
        }
    })
</script>

{% endblock %}