{% extends 'base.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutors.css' %}" />
{% endblock%}

{% block heading %}
Tutors
{% endblock %}

{% block content %}

<!-- <div>
    <button type ="submit" name="filter" value="filter" class="filter-button" >Filter</button>
</div> -->

{% for tutor in tutors %}

<div class = "info-container d-flex">

    <div>
        <img src = "{{tutor.profile_pic.url}}" class = "profile-pic">
    </div>

    <div class = "name">
        {{tutor.first_name}} {{tutor.last_name}} <br/>
        <div class = "classes">
            {{tutor.classes_taken}}  <br/>
        </div>
    </div>



    <div class = "times">
        {% if tutor.times_available %}
            {{tutor.times_available}}  <br/>
        {% else %}
            TBD <br/>
        {% endif %}
    </div>


    <div>
        <button type ="submit" name="request" value="request" class="request-button">Request</button>
    </div>
    

    <div class="tutor-rating">
        {{tutor.tutor_avg_rating}} ★<br/>

        <div class = "tutor-rate">
            {{tutor.rate}} pts/hr<br/>
        </div>
    </div>

    
</div>
{% endfor %}

{% endblock %}