.header h1 {
  text-align: center;
  margin: 2.188rem 2.188rem 2.188rem 2.188rem;
  font-family: "Oswald", serif;
  font-size: 4rem;
  font-weight: bolder;
}

.main-content {
  padding-top:4rem;
  background-color: #373f51;
  color: #f4faff;
  font-family: "Open Sans";
}

.navbar-custom {
  background-color: #934dd1;
  -webkit-box-shadow: 0px 1px 21px 5px rgba(36,40,53,0.8);
  -moz-box-shadow: 0px 1px 21px 5px rgba(36,40,53,0.8);
  box-shadow: 0px 1px 21px 5px rgba(36,40,53,0.8);
  border: none;
}

.btn-success,
.btn-success:active,
.btn-success:visited {
  background-color: #934dd1 !important;
  border: none;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

.btn-success:hover {
  background-color: #893ccd !important;
  border: none;
}

.link-primary {
  color: #8fc93a !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #934dd1 !important;
  border: none;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.btn-secondary:hover {
  background-color: #893ccd !important;
  border: none;
}
