.point-col {
  display: flex;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #D6FF79;
  border-radius: 2rem;
  margin-inline: 1%;
  flex: 1 0;
  background-color: #323849;
  min-height: 60vh;
  padding:3.125rem;
  flex-direction: column;
}

.point-content {
  color: white;
  font-family: "Oswald";
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
}

.purchase-amount {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
} 

.exchange-rate {
  font-size: 1rem;
  display: inline;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-weight: lighter;
  color: #f4faff;
  font-family: "Oswald";
  font-size: 2rem;
  text-align: center;
  justify-self: end;
}

.total-points {
  font-size: 3rem;
  color: #f4faff;
  text-align: center;
  font-family: "Tahoma";
  font-weight: bold;
  margin-top: 2rem;
}

.main-container {
  min-width: 100vw;
  min-height: 100vh;
  padding-inline: 7%;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 7.5rem;
  width: 7.5rem;
  padding: 0.313rem;
}

.name-column {
  font-size: 2.813rem;
  width: 40%;
}

.select-tutor {
  margin-bottom: 2rem;
  min-width: 50%;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.invalid-feedback {
  font-family: "Open Sans";
}

.hidden {
  display: none;
}
