@media (min-width: 75rem) {
  .container {
    max-width: 50rem;
  }
}

.header {
  margin-top:2.188rem;
  margin-bottom: 1.25rem;
}

.btn-style {
  height: 2.5rem;
}

.text-muted {
  color: red;
}

.helptext {
  visibility: hidden;
}

.profileImgPreview {
  margin:0rem;
  float: right;
  padding:0rem;
}

.hide {
  display: none;
}

.imgUpload {
  margin:0rem;
  float: left;
  padding:0rem;
}

.profileImg {
  margin:0rem;
  max-height:12.5rem;
  max-width: 15.625rem;
  float: right;
  padding:0rem;
  padding-left:3.125rem;
}

.d-inline-flex {
  min-width: 100%;
}

.form-group {
  width: 100%;
}
