.modal-content {
  background-color: #323849;
  padding: 1.25rem;
  border-style: solid;
  border-color: #d6ff79;
  border-width: 0.125rem;
  border-radius: 2rem;
}

.modal-request-status {
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 2rem;
  font-weight: bolder;
}

.request-container {
  height: fit-content;
  margin-bottom: 1.5rem;
  padding: 1.563rem;
  align-items: center;
  gap: 1.563rem;
  background-color: #323849;
  border-style: solid;
  border-color: #d6ff79;
  border-width: 0.125rem;
  border-radius: 2rem;
}

.row {
  flex-direction: row;
  padding: 0%;
}

.scroll-box {
  max-height: 50vh;
  overflow-y: scroll;
  border-radius: 2rem;
  background-color: #2a2f3b;
  margin-inline: 2rem;
  padding: 0rem 0rem 1rem 0rem;
  margin: 2rem;
}

.request-container:hover {
  background-color: #242835;
}

.request-items {
  margin: 1rem;
}

.profile-container {
  width: 12%;
}

.profile-pic {
  height: 5rem;
  width: 5rem;
  padding: 0.313rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.request-content {
  width: 73%;
  flex-direction: column;
}

.name {
  font-size: 1.563rem;
  width: 40%;
}

.sent-date {
  font-size: 0.9rem;
  color: #a5adc4;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.tutor-class {
  width: 20%;
  font-size: 2rem;
}

.times {
  font-size: 1.125rem;
  width: 40%;
}

.modal-lg {
  max-width: 40%;
}

.modal-content {
  margin: 4rem;
  border-radius: 2rem;
  background-color: #323849;
}

.modal-flex-container {
  display: flex;
  padding: 1.25rem 3.5rem 1.25rem 3.5rem;
  flex-direction: column;
  background-color: #323849;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #d6ff79;
  border-radius: 2rem;
}

.form-container {
  flex: 5;
}

.respond-buttons {
  display: inline-block;
  white-space: nowrap;
  width: 15%;
}

.comment {
  padding-top: 1rem;
  color: #c5cadb;
  font-size: 0.8rem;
}

h2 {
  padding: 1rem;
  margin-bottom: 1.6rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  position: sticky;
  top: 0;
  background-color: #37425f;
  border-radius: 1.9rem;
  border-color: #2a2f3b;
  border-style: solid;
  border-width: 1rem;
  margin-top: 0rem;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: #545c70;
}
