/* .filter-button{
    width: 120px;
    margin: 15px 15px 15px 80px;
    padding: 10px;
    background-color: #20293F;
    color: white;
} */

.info-container {
    margin-bottom: 30px;
    margin-left: 230px;
    margin-right: 230px;
    padding: 25px;
    align-items: center;
    gap:25px;
    background-color: #323849;
    border-style:solid;
    border-color:#D6FF79;
    border-width:2px;
    border-radius:2rem;
}

.profile-pic{
    height:80px;
    width:80px;
    padding:5px;
    object-fit: cover;
    overflow:hidden;
    border-radius: 50%;
}

.name-column{
    font-size: 25px;
    width:40%;
}

.classes-column{
    font-size:20px;
}

.times-column{
    font-size: 18px;
    width:30%
}

.request-button{
    height:50px;
    width: 140px;
    background-color: #934DD1;
    color: #F4FAFF;
    border-style: none;
    border-radius:15px;
}

.request-button:hover{
    background-color: #893CCD;
}
.tutor-rate-column{
    font-size: 20px;
}

.tutor-rating-column{
    margin-left:40px;
    font-size:30px;
    width: 20%;
}

