.profile-pic{
     width:50%;
}

.profile{
     display: flex;
     flex-direction: row;
     padding: 100px;
     justify-content: center;
     background-color: #20293F;
}

.left-column{
     
     justify-content: center;
     display:flex;
     flex-direction: column;
     font-size: 20px;
     text-align: center;
     width:50%;
}

.right-column{
     align-items: center;
     display:flex;
     flex-direction:column;
     margin-top:50px;
     width:50%;
}

.name{
    font-size:80px;
    font-weight:bold;
}

.school-name{
     font-size:30px;
     font-weight: bold;
     margin: 10px;
}

.rating{
    font-size:15px;
}

.total-points{
     font-size:25px;
     font-weight:bold;
}

.time-zone{
     text-transform:uppercase;
}

.tutor-info{
    font-size:16px;
}

