.profile-pic{
     width:50%;
}

.profile{
     display: flex;
     flex-direction: row;
     margin: 0rem 12.5rem 0rem 12.5rem;
     padding: 3rem 7.5rem 3rem 7.5rem;
     justify-content: center;
     background-color: #323849;
     border-style:solid;
     border-color:#D6FF79;
     border-width: 0.125rem;
     border-radius: 2rem;
}

.left-column{
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 1.875rem;
     font-size: 1.875rem;
     text-align: center;
     width:50%;
     height:65vh;
}

.right-column{
     display:flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     margin-top:3.125rem;
     width:50%;
     height:65vh;
}

.name{
    font-family:"Oswald";
    font-size:5rem;
    font-weight:bold;
}

.school-name{
     font-family:"Oswald";
     font-size:1.875rem;
     font-weight: bold;
     margin:0.625rem;
}

.rating{
     margin-top:1.25rem;
     font-size:0.938rem;
}

.total-points{
     font-family:"Oswald";
     font-size:1.563rem;
     font-weight:bold;
}

.time-zone{
     text-transform:uppercase;
}

.tutor-info{
    font-size:1rem;
}

.modal-lg {
    max-width: 40%;
 }

.modal-content{
     margin:0.625rem;
     border-radius:2rem;
 }
 
 .modal-flex-container{
    display: flex;
    padding:1.25rem 3.5rem 1.25rem 3.5rem;
    flex-direction: column;
    background-color: #323849;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #D6FF79;
    border-radius: 2rem;
 }
 
 .modal-profile-pic{
     width: 45%;
 }
 
 .profile-pic-container{
     display: flex;
     flex:2;
     justify-content: center;
 }
 
 .form-container{
     flex:5;
 }

 h2{
     padding:1rem;
     text-align:center;
     font-weight:bold
 }
 
 .hidden {
     display: none;
 }
 
 #success-box{
      width:75%;
      margin-left: auto;
      margin-right: auto;
      
 }

