.profile-pic{
     width:50%;
}

.profile{
     display: flex;
     flex-direction: row;
     padding: 48px 120px 48px 120px;
     justify-content: center;
     border-style:solid;
     border-color:#D6FF79;
     background-color: #323849;
     border-width: 2px;
     margin-left: 200px;
     margin-right: 200px;
     margin-top: 70px;
     border-radius: 2rem;
}

.left-column{
     justify-content: center;
     display:flex;
     flex-direction: column;
     padding: 30px;
     font-size: 30px;
     text-align: center;
     width:50%;

}

.right-column{
     align-items: center;
     display:flex;
     flex-direction:column;
     margin-top:50px;
     width:50%;
}

.name{
    font-family:Oswald;
    font-size:80px;
    font-weight:bold;
}

.school-name{
     font-family:Oswald;
     font-size:30px;
     font-weight: bold;
     margin: 10px;
}

.rating{
     margin-top:20px;
     font-size:15px;
}

.total-points{
     font-family:Oswald;
     font-size:25px;
     font-weight:bold;
}

.time-zone{
     text-transform:uppercase;
}

.tutor-info{
    font-size:16px;
}

.modal-content{
     color:black;
     background-color: white;
     margin: 10px;
 }
 
 .modal-container{
     display: flex;
     flex-direction: row;
     /* background-color: blue; */
     padding: 20px;
 }
 
 .modal-profile-pic{
     width: 100%;
 }
 
 .profile-pic-container{
     flex:1;
     /* background-color: red; */
 }
 
 .form-container{
     flex:3;
     /* background-color: yellow; */
 }

